/* font-style */
@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Suit';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}

html,body {
  font-family: 'Suit';

}

/* 노말라이즈 */
body,ul,li {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  color:inherit;
  text-decoration: none;
}

.page-1 {
  max-width: 1920px;
  height: 945px;
  background-image:url(imgs/imgi_26_bg_main_img3.png);
  background-size: cover;
  z-index: -1;

}

.header_box {
  width: 100%;
  height: 96px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  justify-content: center;
}

.header_box > .main_logo > .logo_w {
  width: 180px;
}

.header_box > .main_logo > .logo_b {
  width: 140px;
  height: 29px;
  padding: 20px;
  padding-bottom:25px;
}

.header_box > .main_logo {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: absolute;
  top:0;
  left: 50px;
}
.header_box > .main_menu  > ul {
  color: white;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 0 80px;
  margin-left: 150px;
}

.header_box > .main_menu > ul > li {
  padding-right: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.header_box > .main_menu > ul > li > a {
  font-size: 16px;
  font-weight: 500;
  height: 100%;
  align-items: center;
  display: flex;
}


.main_menu ul ul {
  position: absolute;
  top: 100%;
  left:0;
  display: none;
  width: 100%;
  height: 96px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 40px;
  transition: all 0.3s ease; 
}

.main_menu ul > li:hover > ul {
  display: flex;
  animation: fadeDown 0.25s ease;
  background-color: white;
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.main_menu ul > li > .sub_menu-1 {
  padding-right: 250px;
} 
.main_menu ul > li > .sub_menu-2 {
  padding-left: 150px;
} 
.main_menu ul > li > .sub_menu-3 {
  padding-left: 400px;
} 

.main_menu ul > li > ul > li {
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px;
}
.main_menu ul > li > ul > li > a {
  font-size: 16px;
  color: #666666;
  font-weight: 600;
}

.header_box.active {
  background-color: #fff;
  color: black;
}
.header_box {
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.title-box {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 100px;
}


.main-title  {
  color: #fff;
  font-size: 3vw;
  font-weight: 900;
  margin-top: 250px;
  white-space: nowrap;
}

.main-logo-text  {
  color: #fff;
  font-size: 15vw;
  font-weight: 900;
  white-space: nowrap;
}

/* page-2 */

.page-2 {
  width: 1920px;
  height: 1080px;
  background-color: #fff;
  position: relative;
}

.page-2-img {
  position: absolute;
  left: 15%;
  top: 15%;
}

.page-2-text {
  font-size: 50px;
  font-weight: 900;
  position: absolute;
  right: 15%;
  top: 40%;
}
